%h1
  Message view for #{@number}

%meta#submit-path{data: { path: preview_submit_url }}/

#phone-messages.scrollable{:name => "", :cols => "30", :rows => "10"}
  - @messages.each do |message|
    %p
      - if message.direction == "out"
        = "<b>Prehave:</b> ".html_safe
      - else  
        = "<b>You:</b> ".html_safe
      = message.message
      %small
        = message.created_at
%form#phone-simulator
  %input#phone-input{:type => "etext"}/
  %input#phone-input-submit.button{:type => "submit"}/